.grid-container {
    display: grid;
    padding: 10px;
    width: 50%;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: center;
  }

  .searchbtn{
    position: relative;
    right: -18%;
    width: 15%;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
  }
  .btn{
    width: 15%;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 12px 0;
  }

  textarea{
    resize: none;
  }

  .textbox{
    width: 50%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid floralwhite;
    border-top: 1px solid floralwhite;
    border-left: 1px solid floralwhite;
    border-right: 1px solid floralwhite;
    background-color: none;
  }
  .textbox i{
    width: 50px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 10px;
  }