/*
body{
    padding: 0;
    margin: 0;
    background: url(/systemsAnalysisTeamProject/pictures/woods.jpeg.jpeg) no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: black;
    float: none;
    font-size: xxx-large;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px lightgray;
    text-transform: uppercase;
    position: relative;
}
h2{
    text-align: center;
    color: black;
    float: none;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px lightgray;
    text-transform: uppercase;
    position: relative;
}

p{
    text-align: center;
    color: black;
    float: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

img{
    width: 1200px;
    height: 1200p;
}

ul {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    width: 100%;

    text-align: center;
    color: floralwhite;
    float: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  li {
    float: left;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
  
  li a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: darkgray;
  }

  .logoutbtn{

    float: right;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .logoutbtn:hover{
    background-color: darkgray;
  }

.slider-frame{
    align-items: center;
    overflow: hidden;
    height: 800px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 9px solid #C8C8C8; 
}

.slide-images .border_box{

    left: .005px;
    right: .005px;
    top: .005px;
    bottom: .005px;
}

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px}
    80% {left: 0px}
    90% {left: 0px;}
    1000% {left: 0px;}
}
@keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px}
    80% {left: 0px}
    90% {left: 0px;}
    1000% {left: 0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
        animation-name: slide_animation;
    -webkit-animation-duration: 30s;
        animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
        animation-direction: alternate;
    -webkit-animation-play-state: running;
        animation-play-state: running;
}

.img-container{
    position: relative;
    float: left;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  .login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid floralwhite;
    margin-bottom: 50px;
    padding: 13px 0;
  }
  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid floralwhite;
    border-top: 1px solid floralwhite;
    border-left: 1px solid floralwhite;
    border-right: 1px solid floralwhite;
    background-color: grey;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 10px;
  }
  .btn{
    width: 100%;
    background: none;
    border: 2px solid floralwhite;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }*/








  body{
    padding: 0;
    margin: 0;
    background: url(/systemsAnalysisTeamProject/pictures/woods.jpeg.jpeg) no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: black;
    float: none;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px lightgray;
    text-transform: uppercase;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    text-align: center;
    color: black;
    float: none;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 8px lightgray;
    text-transform: uppercase;
    position: relative;
}

p{
    text-align: center;
    color: black;
    float: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;

}

img{
    width: 800px;
    height: 500px;
}

ul {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    width: 100%;

    text-align: center;
    color: floralwhite;
    float: none;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    position: fixed;
  }

  li {
    float: left;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
  
  li a {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  
  li a:hover {
    background-color: darkgray;
  }

.slider-frame{
    align-items: center;
    overflow: hidden;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border: 1px solid #C8C8C8; 
}

.slide-images .border_box{

    left: .005px;
    right: .005px;
    top: .005px;
    bottom: .005px;
}

@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 800px;}
    30% {left: 800px;}
    40% {left: 1600px;}
    50% {left: 1600px;}
    60% {left: 800px;}
    70% {left: 800px}
    80% {left: 0px}
    90% {left: 0px;}
    100% {left: 0px;}
}
@keyframes slide_animation{
  0% {left: 0px;}
  10% {left: 0px;}
  20% {left: 800px;}
  30% {left: 800px;}
  40% {left: 1600px;}
  50% {left: 1600px;}
  60% {left: 800px;}
  70% {left: 800px}
  80% {left: 0px}
  90% {left: 0px;}
  100% {left: 0px;}
}

.slide-images{
    width: 2400px;
    height: 500px;
    margin: 0 0 0 -1600;
    position: relative;
    -webkit-animation-name: slide_animation;
        animation-name: slide_animation;
    -webkit-animation-duration: 30s;
        animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
        animation-direction: alternate;
    -webkit-animation-play-state: running;
        animation-play-state: running;
}

.img-container{
    position: relative;
    float: left;
}


  .textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid floralwhite;
    border-top: 1px solid floralwhite;
    border-left: 1px solid floralwhite;
    border-right: 1px solid floralwhite;
    background-color: grey;
  }
  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }
  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 100%;
    float: left;
    margin: 0 10px;
  }
  .logoutbtn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: block;
    color: rgb(0, 0, 0);
    float: right;
    text-align: center;
    padding: 14px 16px;
    margin-top: 0px;
    margin-right: 0px;
    text-decoration: none;
    background-color: rgb(255, 0, 0, 0);
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-right: 0px solid #bbb;
    border-top: 0px solid #bbb;
    font-size: 16px;

  }
  .logoutbtn:hover {
    background-color: rgb(169, 169, 169);

  }
  
  